<p>Bonjour,</p>
<p>
  Vous trouverez le contrat pour les services de <strong>Me {{lawyerName}}</strong> ci-joint.
</p>
<p>
  S’il-vous-plait, veuillez nous retourner le contrat signé à la 3e page et initialisé au bas de chaque page. Complétez la fiche client avec vos informations et la fiche avec celles de la partie adverse, le cas échéant. Nous aurons également besoin d’une copie de votre pièce d’identité.
</p>
<p>
  Concernant les frais d’ouverture de dossier, un dépôt initial de <strong>{{depositAmount}}</strong>$ + taxes (<strong>{{totalAmount}}</strong>$) est requis. Ce montant sera placé dans un compte en fidéicommis et il servira pour les débours judiciaires et extra-judiciaires. Vous pouvez procéder au paiement par virement Interac à l’adresse <a href="mailto:trust@amlex.ca">trust@amlex.ca</a>, sinon par carte de crédit (noter que les paiements par carte de crédit sont soumis à des frais additionnels de 4 %), par argent comptant ou par chèque adressé à Allen Madelin Inc.
</p>
<p>Bien à vous.</p>