<p>Bonjour,</p>
<p>
  Nous avons reçu votre courriel et pris connaissance de votre situation. <strong>Me {{lawyerName}}</strong> saura utilement vous conseiller. Nous vous proposons de prendre rendez-vous pour une première consultation avec l’avocat au cours de laquelle on vous expliquera quelles sont vos options juridiques et les différentes démarches.
</p>
<p>
  Une première consultation est facturée 125 $ + taxes et dure généralement entre 30 min et 1h. Elle est, pour vous, l’occasion de comprendre juridiquement votre situation et d’obtenir plusieurs conseils sur les possibles voies de résolution ainsi que leurs frais approximatifs.
</p>
<p>
  Vous pouvez nous contacter au <a href="tel:514-904-4017">514-904-4017</a> pour connaître les prochaines disponibilités.
</p>
<p>Cordialement,</p>