<p>Hello,</p>
<p>
  Please find attached the contract for the services of <strong>Me {{lawyerName}}</strong>.
</p>
<p>
  Please return the contract signed on the 3rd page and initialed at the bottom of each page. Complete the client form with your information and the opposing party's form, if applicable. We will also need a copy of your ID.
</p>
<p>
  An initial deposit of $<strong>{{depositAmount}}</strong> + taxes ($<strong>{{totalAmount}}</strong>) is required to open the file. This amount will be placed in a trust account and will be used for judicial and extra-judicial disbursements. You can pay by Interac transfer to <a href="mailto:trust@amlex.ca">trust@amlex.ca</a>. Alternatively, you can pay by credit card (note that credit card payments are subject to an additional fee of 4%), cash, or cheque to Allen Madelin Inc.
</p>
<p>Best Regards,</p>