<p>Good morning,</p>
<p>
  Thank you for contacting us. I read your situation, and I understand that you need legal help. <strong>Me {{lawyerName}}</strong> can advise you. I suggest making an appointment for a first consultation.
</p>
<p>
  It is charged $125 + taxes, and the first consultation usually lasts between 30 minutes to 1 hour. A first consultation is an opportunity for you to legally understand your situation and to obtain legal advice as well as their approximate costs.
</p>
<p>
  Please contact me at <a href="tel:5149044017">514-904-4017</a> to know his next availabilities.
</p>
<p>Best regards,</p>