<p>Dear Mr. X,</p>
<p>
  I hope this message finds you well. I am following up with you regarding the service contract. Would you still like to retain our services, even if not at this time? In that case, we will securely keep your original documents.
</p>
<p>
  Otherwise, please let us know the date on which you would like to retrieve your original documents. Please note that we cannot be held responsible for them if you decide not to proceed with our services.
</p>
<p>Looking forward to your response,</p>
<p>Best regards,</p>